{% extends "base.html" %}

{% block title %}Registration{% endblock %}


{% block head %}
{{ super() }}
{% endblock %}


{% block page_content %}
{% include 'menu.html' %}

<div id="content">

<h1>Profile</h1>
<form action="auth/logout" method="post">
    <input type="submit" value="logout">
</form>
<p>Name: {{user.name}}</p>
<p>Second Name: {{user.second_name}}</p>
<p>Age: {{user.age}}</p>
<p>gender: {{user.gender}}</p>
<p>Interests: {{user.interests}}</p>
<p>City: {{user.city}}</p>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
