{% extends "base.html" %}

{% block title %}Registration{% endblock %}


{% block head %}
{{ super() }}
{% endblock %}


{% block page_content %}

<h1 class="cap">Login</h1>
{% if er %}
<p style="color:red">{{er}}</p>
{% endif %}
<form action="/login" method="post">
    <p><label for="email">Email: </label><input name="email" type="email" id="email" required /></p>
    <p><label for="password">Password: </label><input name="password" type="password" id="password" required /></p>
    <input type="submit">
</form>

<p><a href="/registration/">registration</a></p>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
